  .bg {
    /* The image used */
    background-image: url("Chinatown Day.jpeg");

    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  body {
    background-color: lightblue;
  }
  h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px black;
  }
  h2 {
    color: white;
    margin-left: 50px;
    text-shadow: 2px 2px 4px black;
  }
  p {
    font-family: Times;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 40px;
  }
  button {
    margin-top: 1140px;
    margin-left: 1210px;
  }
  button:hover {
    background-color: white !important;
    color: black !important;
  }
  .container{
    background-color: white;
    padding-top: 2px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 50px;
  }
  .page1 {
    background-image: url("Chinaton History.jpeg");
  }